@{
    ViewData["Title"] = "About Journals ";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<p>
    A journal, from the Old French journal (meaning "daily"),
    <br> may refer to several things.
    In its original meaning,
    it refers<br />of to a daily record  activities,
    but the term has evolved <br>to mean any record of activities,
    regardless of time<br> elapsed between entries, such as a
</p>
